.btn {
  display: flex;
  justify-content: center;
}

.screenshot-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  .screenshot-image {
    position: relative;
    width: 150px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    bottom: 5px;
    left: 10px;
    background: white;
    
    .screenshot-download {
      position: absolute;
      left: 30px;
      right: 10px;
      top: 10px;
    }
  }
}
.video-details {
  margin: 5% auto;
}
.display-cover {
  width: 100%;
  height: 85%;
  position: relative;

  video {
    width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .video-options {
    position: absolute;
    left: 20px;
    top: 30px;
  }
}

.controls {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;

  > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;

    &:hover svg {
      color: white !important;
    }

    > svg {
      height: 20px;
      width: 18px;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }
  }

  button {
    &:nth-child(1) {
      border: 2px solid #d2002e;

      svg {
        color: #d2002e;
      }
    }

    &:nth-child(2) {
      border: 2px solid #008496;

      svg {
        color: #008496;
      }
    }

    &:nth-child(3) {
      border: 2px solid #00b541;

      svg {
        color: #00b541;
      }
    }
  }

  > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;

    &:hover svg {
      color: white;
    }
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .controls {
    flex-direction: column;

    button {
      margin: 5px 0 !important;
    }
  }
}

.play i svg {
  margin-left: 6px;
}
